
button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-light);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: background-color 0.3s ease;
}

.actions-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content-container {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}