.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1, small {
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}